
# 전처리 1

In [2]:
import pandas as pd
# 데이터 불러오기
df = pd.read_csv('train.csv')

# 결측치 확인 
print(df.info()) # age 714개 cabin 204개 Embarked 889로 결측치 존재
print('='*50) # 구분

# Age열 존재하는 결측치를 평균값으로 대체 
df['Age'] = df['Age'].fillna(df['Age'].mean())

# Embarked 열의 결측치는 최빈값(Mode)으로 대체
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

# Cabin 열은 결측치가 너무 많아서 삭제 

df_del = df.drop('Cabin', axis=1) #Cabin 열 아예 제거 (원본 보존)
print('='*50) # 구분
print(df_del.info()) # 제거 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
==================================================
==================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB
None

# 전처리 2

In [3]:
import pandas as pd

df = pd.read_csv('sales.csv')
print(df.info()) #결측치 확인
print('='*50) # 구분

# 중복 데이터 개수 확인
print(f'중복데이터는 : {df.duplicated().sum()}개 입니다.')  
# 중복된 행 모두 제거. 첫 번째만 남김 (keep='first')
df_ndupl = df.drop_duplicates(keep='first') 

# len으로 존재하는 행 개수를 보여줌
print(f'중복된 행을 모두 제거한 후, 남은 데이터의 개수는 {len(df_ndupl)}개입니다.')
print('='*50) # 구분
print(df_ndupl)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    14 non-null     int64
 1   ProductName  14 non-null     object
 2   Price        14 non-null     int64
 3   Quantity     14 non-null     int64
dtypes: int64(3), object(1)
memory usage: 580.0+ bytes
None
==================================================
중복데이터는 : 8개 입니다.
중복된 행을 모두 제거한 후, 남은 데이터의 개수는 6개입니다.
==================================================
   ProductID ProductName  Price  Quantity
0        101           A    100         1
1        102           B    200         2
2        103           C    300         3
3        104           D    400         4
7        105           E    500         5
8        106           F    600         6

# 전처리 3

In [4]:
import pandas as pd

df = pd.read_csv('diamonds.csv') #파일 불러오기

print(df.info()) # 결측치 확인 (없음)
print(df.duplicated().sum()) #중복데이터 (행)

#  이상치 처리 -> 1사분위수, 3사분위수
Q1 = df['carat'].quantile(0.25) # 1사분위수
Q3 = df['carat'].quantile(0.75) # 3사분위수
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# 이상치 = 데이터에 carat행이 lower_bound보다 작거나
# upper_bound 보다 크면 이상치라고 취급. 
outliers = df[(df['carat'] < lower_bound) | (df['carat'] > upper_bound)]

#print(outliers)

df_n_outliers = df[(df['carat'] >= lower_bound) & (df['carat'] <= upper_bound)] # 원본데이터 유지

# 원래 53940개 제거 후 52051
print('='*50) # 구분
print(f'초기 데이터의 개수: {len(df)}')
print(f'하한: {lower_bound}, 상한: {upper_bound}')
print(f'이상치 데이터의 개수: {len(outliers)}')
print(f'이상치 제거 후 데이터의 개수: {len(df_n_outliers)}')
print('='*50) # 구분

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB
None
0
==================================================
초기 데이터의 개수: 53940
하한: -0.5599999999999999, 상한: 2.0
이상치 데이터의 개수: 1889
이상치 제거 후 데이터의 개수: 52051
==================================================

# 전처리 4

In [5]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder #레이블인코딩을 위한

df = pd.read_csv('adult.csv')
# Label Encoding -> 범주형 데이터를 정수로 매핑.
label_encoder = LabelEncoder()


#데이터 레이블 인코딩 _label 빼면 그냥 원래 데이터에 저장됨. 
for i in ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country']:
    df[i+'_label'] = label_encoder.fit_transform(df[i])

print(df.info()) # 정수로 변경돼었는지 확인.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   48842 non-null  int64
 1   workclass             48842 non-null  object
 2   fnlwgt                48842 non-null  int64
 3   education             48842 non-null  object
 4   educational-num       48842 non-null  int64
 5   marital-status        48842 non-null  object
 6   occupation            48842 non-null  object
 7   relationship          48842 non-null  object
 8   race                  48842 non-null  object
 9   gender                48842 non-null  object
 10  capital-gain          48842 non-null  int64
 11  capital-loss          48842 non-null  int64
 12  hours-per-week        48842 non-null  int64
 13  native-country        48842 non-null  object
 14  income                48842 non-null  object
 15  workclass_label       48842 non-null  int64
 16  education_label       48842 non-null  int64
 17  marital-status_label  48842 non-null  int64
 18  occupation_label      48842 non-null  int64
 19  relationship_label    48842 non-null  int64
 20  race_label            48842 non-null  int64
 21  gender_label          48842 non-null  int64
 22  native-country_label  48842 non-null  int64
dtypes: int64(14), object(9)
memory usage: 8.6+ MB
None

# 전처리 5

In [2]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# df에 csv 파일 읽어오기.
df = pd.read_csv('winequality-red.csv')

scaler_standard = StandardScaler() #객체 생성.
#'fixed acidity', 'volatile acidity', 'citric acid', 
# 'residual sugar', 'chlorides' 이 있으면 df에 테이블을 추가하는데 
# 그 안에 들어갈 데이터를 StandardScaler로 표준화
for i in ['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar', 'chlorides']:
    df[i+'_std'] =scaler_standard.fit_transform(df[[i]])
    
print(df.info())
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
 12  fixed acidity_std     1599 non-null   float64
 13  volatile acidity_std  1599 non-null   float64
 14  citric acid_std       1599 non-null   float64
 15  residual sugar_std    1599 non-null   float64
 16  chlorides_std         1599 non-null   float64
dtypes: float64(16), int64(1)
memory usage: 212.5 KB
None

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,fixed acidity_std,volatile acidity_std,citric acid_std,residual sugar_std,chlorides_std
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,-0.528360,0.961877,-1.391472,-0.453218,-0.243707
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,-0.298547,1.967442,-1.391472,0.043416,0.223875
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,-0.298547,1.297065,-1.186070,-0.169427,0.096353
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,1.654856,-1.384443,1.484154,-0.453218,-0.264960
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,-0.528360,0.961877,-1.391472,-0.453218,-0.243707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,-1.217796,0.403229,-0.980669,-0.382271,0.053845
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,-1.390155,0.123905,-0.877968,-0.240375,-0.541259
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,-1.160343,-0.099554,-0.723916,-0.169427,-0.243707
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,-1.390155,0.654620,-0.775267,-0.382271,-0.264960
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,-1.332702,-1.216849,1.021999,0.752894,-0.434990